
<h1>bevs#show.html.erb</h1>
<%= link_to "back", lounge_path(@bev.lounge.id) %>
<div class="container">
  <h1><%= @bev.lounge.name %></h1>
  <h3><%= @bev.name %></h3>
  <p><%= @bev.style %></p>
  <p><%= @bev.desc %></p>
  <p><%= @bev.region %></p>
  <p><%= @bev.cat %></p>
  <p><%= @bev.cost %></p>
</div><!--end of container-->
<%= render "orders/order_form", bev: @bev, order: @order %>
