<!-- <nav class="navbar navbar-default navbar-fixed-top">
</nav>
 -->
<div class="navbar-cool navbar-cool-fixed">
  <!-- Logo -->
  <a href="/" class="navbar-cool-brand">
    <%= image_tag "cid_logo_x_grid200.jpg" %>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-cool-right hidden-xs hidden-sm">

    <!-- Profile picture and dropdown -->
    <div class="navbar-cool-item">
      <div class="dropdown">


        <!--avatar problems-->
        <% user_signed_in? && current_user.photo.present? ? avatar_url = current_user.photo.url(:bright_face) : avatar_url = "user-icon.png" %>
        <!-- ^ added `.url(:brightface)` from the `photo_uploader` class-->
        <div class="user-avatar dropdown-toggle", data-toggle= "dropdown" style="background-image: url('<%= image_path avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu" %>'); background-size: cover; width: 50px; height: 50px; border-radius: 50%; background-position: center;"></div>
        <!-- <img src="http://placehold.it/50x50" class="avatar dropdown-toggle" id="navbar-cool-menu" data-toggle="dropdown"> -->
        <!-- ^ working-->

        <ul class="dropdown-menu dropdown-menu-right navbar-cool-dropdown-menu">
          <li><%= link_to "sign in", new_user_session_path, class: "no-decor" %></li>
          <li><%= link_to "dashboard", dashboard_path, class: "no-decor" %></li>
          <li><%= link_to "lounges index", lounges_path, class: "no-decor" %></li>
          <li><%= link_to "sign out", destroy_user_session_path, class: "no-decor", method: :delete %></li>
        </ul>
      </div>
    </div>

  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-cool-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-cool-dropdown-menu">
        <li><%= link_to "sign in", new_user_session_path, class: "no-decor" %></li>
        <li><%= link_to "dashboard", dashboard_path, class: "no-decor" %></li>
        <li><%= link_to "lounges index", lounges_path, class: "no-decor" %></li>
        <li><%= link_to "sign out", destroy_user_session_path, class: "no-decor", method: :delete %></li>
      </ul>
    </div>
  </div>
</div>
