<div class="container">
  <div class="shell-design shell-con">
    <!-- <h3>lounge#index</h3> -->

      <div class="align-i-cent text-a-cent">
        <%= form_tag(lounges_path, method: :get) do %>
        <%= text_field_tag :search, params[:search], placeholder: "lounge or city", class: "l-index-search" %>
        <%= button_tag(type: "submit", class: "btn-primary btn no-decor light-shadow btn-grad-light-sm") do %>
          <i class="fa fa-search fa-lg" aria-hidden="true"></i>
        <% end %><!--end of submit/search button for lounge search-->
        <div class="align-i-cent text-a-cent btn btn-primary light-shadow btn-grad-light-sm"><!--all lounges btn-->
          <%= link_to "see all", lounges_path %>
        </div><!--end all lounges-btn-->
       <% end %>
      </div>

      <% @lounges.each do |l| %>
        <%= link_to lounge_path(l), class: "no-decor" do %>
          <div class="lounge-index-flex flex flex-direction flex-wrap align-i-cent text-a-cent space-b tab-grad-light">
            <div class="lounge-index-body">
                <h4><%= l.name %></h4>
            </div><!--end of lounge body-->
            <div class="">
              <h6 class="lounge-index-action flex-item2"><%= l.city %></h6>
            </div><!--end of lounge city-->
          </div><!--end of flexbox-->
        <% end %><!-- end of link path-->
      <% end %><!--end of @lounges-->
  </div><!--end of shell-contianer-->
</div><!--end of container-->
