<div class="container">
  <div class="lounge-container">
    <h1><%= @lounge.name %></h1>
    <h4>Lounge#show</h4>
    <% @lounge.bevs.each do |bev|%>
      <%= link_to bev_path(bev) do%>
      <div class="bev-div">
        <div class="bev-head">
          <p><%= bev.name %></p>
        </div><!--end of bev head-->
        <%= render "orders/order_form", bev: bev, order: @order %>
        <div class="bev-body">
          <p><%= bev.variety %></p>
        </div class="flex">
        <div class="bev-cost">
          <p><%= bev.cost %></p>
        </div>
      </div>
      <% end %><!--end of path-->
    <% end %>
    </div><!--end of the nx-->
</div><!--container-->
