
<div class="container">
  <div class="lounge-container">
    <h1><%= @lounge.name %></h1>
    <h4>Lounge#show</h4>
    <% @lounge.bevs.each do |b|%>
      <%= link_to bev_path(b) do%>
      <div class="bev-div">
        <div class="bev-head">
          <p><%= b.name %></p>
        </div><!--end of bev head-->
        <div class="bev-body">
          <p><%= b.variety %></p>
        </div class="flex">
        <div class="bev-cost">
          <p><%= b.cost %></p>
        </div>
      </div>
      <% end %><!--end of path-->
    <% end %>
    </div><!--end of the nx-->
</div><!--container-->
