<!-- will appear on lounges/receipts.html.erb-->
<div class="flex flex-direction flex-wrap receipt-div align-i-cent text-a-cent space-b ajax-order">
  <% @time = order.created_at %>
  <div class="flex-item">
    <div class="user-avatar logo-img light-shadow" style="background-image: url('<%= image_path "user-icon.png" %>'); background-size: cover; width: 50px; height: 50px; border-radius: 50%; background-position: center;"></div>
  </div>
    <div class="flex-item"><%= order.user.fname %></div>
    <div class="flex-item"><%= order.quantity %></div>
    <div class="flex-item"><%= order.zone %></div>
    <div class="flex-item"><%= order.bev.name %></div>
    <div class="flex-item"><%= @time.strftime("%H:%M:%S")%></div>
</div>
