<div>
  <%= simple_form_for([bev, order]) do |f| %>
    <%= f.input :quantity, collection:[1,2,3,4,5,6], label: false, prompt: "quantity" %>
    <%= f.input :zone, label: false, placeholder: "select zone" %>
    <%= f.input :duration, collection:[10,15,20,30], prompt: "intervals in minutes", label: false %>
    <%= f.submit %>
  <% end %>
</div>
