<div class=""><!--could place  flex flex-center here -->
  <%= simple_form_for([bev, order], remote: true) do |f| %>
    <%= f.input :quantity, as: "hidden", label: false, prompt: "quantity", input_html: { value:"1", class: "clear-order" } %>
    <%= f.input :zone, collection: @zone_op.sort_by.each { |z| [z] }, label: false, prompt: "table", input_html: { class: "clear-order" } %>
    <!--sort_by can replace the each iterator-->
    <%= f.input :duration, as:"hidden", label: false, input_html: { value:"0", class: "clear-order"} %>
      <%= f.button :submit, "create one-time order", class: "btn btn-primary no-decor btn-grad-light light-shadow w-auto-100" %>
  <% end %>
</div>

<!-- im not totally sure why i need 'input_html' to use a class in this form-->
