<h1>dashboard#pages</h1>
<div class="container">
<h3>welcome, <%= current_user.fname %>&nbsp<%= current_user.lname %></h3>
<div class="flex user-card-shell">
  <div class="user-card space-b align-i-cent text-a-cent">
    <div class="flex-item">
      <div class="user-avatar logo-img" style="background-image: url('<%= image_path "user-icon.png" %>'); background-size: cover; width: 50px; height: 50px; border-radius: 50%; background-position: center;"></div>
    </div><!--end of user-icon-->
    <div class="flex-item"><%= current_user.username %></div>
    <div class="flex-item"><%= current_user.email %></div>
  </div><!--end of user card-->
</div><!--end of user-card-shell-->

 <p><%= link_to 'home', root_path %></p>
 <p><%= link_to 'create lounge', new_lounge_path %></p>

  <div class="border dash-lounge-shell">
    <div class="flex flex-wrap flex-direction space-b">
      <div class="flex-item"><b>name</b></div>
      <div class="flex-item hidden-xs"><b>category</b></div>
      <div class="flex-item"><b>address</b></div>
      <div class="flex-item"><b>city</b></div>
      <div class="flex-item hidden-xs"><b>branch</b></div>
      <div class="flex-item"><b>manager</b></div>
      <div class="flex-item"><b>phone</b></div>
      <div class="flex-item"><b>orders</b></div>
    </div>
   <% current_user.lounges.each do |l| %>
    <div class="flex flex-wrap flex-direction space-b dash-lounge-list align-i-cent">
      <div class="flex-item"><%= l.name %></div>
      <div class="flex-item hidden-xs"><%= l.cat %></div>
      <div class="flex-item"><%= l.address %></div>
      <div class="flex-item"><%= l.city %></div>
      <div class="flex-item hidden-xs"><%= l.branch %></div>
      <div class="flex-item"><%= l.manager %></div>
      <div class="flex-item"><%= l.phone %></div>
      <div class="flex-item"><%= link_to "view orders", receipts_lounge_path(l) %></div>
    </div>
   <% end %>
  </div><!--end of border shell-->
</div><!--end of container-->
