<h1>dashboard#pages</h1>
<div class="container">
 <p><%= link_to 'home', root_path %></p>
  <h3>welcome <%= current_user.fname %>&nbsp<%= current_user.lname %></h3>

  <p><%= current_user.username %></p>
  <p><%= current_user.email %></p>
  <div class="border">
  <ul class="flex space-b">
    <li>name</li>
    <li>category</li>
    <li>address</li>
    <li>city</li>
    <li>branch</li>
    <li>manager</li>
    <li>phone</li>
    <li>orders</li>
  </ul>
   <% current_user.lounges.each do |l| %>
    <ul class="flex space-b">
    <li><%= l.name %></li>
    <li><%= l.cat %></li>
    <li><%= l.address %></li>
    <li><%= l.city %></li>
    <li><%= l.branch %></li>
    <li><%= l.manager %></li>
    <li><%= l.phone %></li>
    <li><%= link_to "see orders", receipts_lounge_path(l) %></li>
    </ul>
   <% end %>
  </div>
  <p><%= link_to 'create lounge', new_lounge_path %></p>
</div>
